#Private keys
Farmacy/Info.plist
Farmacy/Keys.plist

#Xcode
*.xcworkspace/xcuserdata/*
*.xcworkspace
*.xcodeproj
Farmacy.xcworkspace/*
Farmacy.xcodeproj/*
Farmacy.xcworkspace
Farmacy.xcodeproj
Farmacy.xcworkspace/
Farmacy.xcodeproj/
Farmacy.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/*
Pods/Pods.xcodeproj

#build products
build/*

