#Private keys
Farmacy/Info.plist
Farmacy/Keys.plist

#Xcode
*.xcworkspace/xcuserdata/*
*.xcworkspace
*.xcodeproj
Farmacy.xcworkspace/*
Farmacy.xcodeproj/*
Farmacy.xcworkspace
Farmacy.xcodeproj
Farmacy.xcworkspace/
Farmacy.xcodeproj/


#build products
build/*

