<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weather_api_key</key>
	<string>32185c047a7245c7b22211711222603</string>
	<key>parse_app_id</key>
	<string>Prfevc3sAzG2UerQdKSoxY82hmK4cQeIoyG7zX40</string>
	<key>parse_client_key</key>
	<string>ZEy8m3PykGL20XGiD9l6y57WYUuTGRHKogkAMWWZ</string>
</dict>
</plist>
